@font-face {
  font-family: 'GothamBook';
  src: url('./gotham/GothamBook.eot');
  src: local('Gotham'), local('gotham'),
  url('./gotham/GothamBook.eot?#iefix') format('embedded-opentype'),
  url('./gotham/GothamBook.woff') format('woff'),
  url('./gotham/GothamBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./gotham/GothamPro-Medium.eot');
  src: local('Gotham'), local('gotham'),
  url('./gotham/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('./gotham/GothamPro-Medium.woff') format('woff'),
  url('./gotham/GothamPro-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./gotham/GothamPro-Bold.eot');
  src: local('Gotham'), local('gotham'),
  url('./gotham/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./gotham/GothamPro-Bold.woff') format('woff'),
  url('./gotham/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

