<section class="our-team" id="our-team">
  <div class="container">
    <h2 class="headline our-team__headline">Our team</h2>
    <p class="our-blog__after-headline our-team__after-headline">sales long tail influencer pitch release niche market.</p>
    <div class="row our-blog__posts our-team__members">
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post our-team__member">
        <img src="member1.png" class="our-blog__post-img">
        <div class="our-team__member-info">
            <div class="our-blog__post-title our-team__member-title">John Snow</div>
            <div class="our-blog__post-description our-team__member-description">CEO</div>
        </div>

      </a>
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post our-team__member">
        <img src="member2.png" class="our-blog__post-img">
        <div class="our-team__member-info">
          <div class="our-blog__post-title our-team__member-title">John Snow</div>
          <div class="our-blog__post-description our-team__member-description">CEO</div>
        </div>
      </a>
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post our-team__member">
        <img src="member3.png" class="our-blog__post-img">
        <div class="our-team__member-info">
          <div class="our-blog__post-title our-team__member-title">John Snow</div>
          <div class="our-blog__post-description our-team__member-description">CEO</div>
        </div>
      </a>
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post our-team__member">
        <img src="member4.png" class="our-blog__post-img">
        <div class="our-team__member-info">
          <div class="our-blog__post-title our-team__member-title">John Snow</div>
          <div class="our-blog__post-description our-team__member-description">CEO</div>
        </div>
      </a>
    </div>
  </div>
</section>
