<section class="main-banner">
  {{> ../main-header/main-header }}
  <div class="main-banner__intro">
    <h1 class="main-banner__headline">
      <span class="main-banner__standard">Creatives</span>
      <span class="main-banner__marked">Power by PSDfreebies.com</span>
    </h1>
  </div>
  <div class="main-banner__scrolldown">
    <div class="main-banner__scrolldown-title">Scroll Down</div>
    <a href="#" class="main-banner__scrolldown-pointer">
      <i class="fas fa-angle-down"></i>
    </a>
  </div>
</section>
