.awesome-agency {
  background: #11749e;
  padding-top: 100px;
  padding-bottom: 77px;

  &__headline {
    background-image: url(awesome-agency_bg.png);
    color: #ffffff;
    margin-bottom: 68px;


    @media(max-width: 576px) {
      background: none;
    }
  }

  &__features {
    //margin-left: -6px;
  }

  &__feature {
    text-align: center;
    margin-bottom: 50px;

    &-icon {
      border-radius: 50%;
      width: 133px;
      height: 133px;
      background-color: #2e85aa;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 14px;

      .icon {
        display: inline-flex;

        svg {
          font-size: 33px;
        }
      }
    }

    &-title {
      color: #ffffff;
      font-family: 'Gotham', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      text-transform: uppercase;
      padding-bottom: 15px;
    }

    &-description {
      color: #ffffff;
      font-family: 'GothamBook', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
