<section class="awesome-agency" id="agency">
  <div class="container">
    <h2 class="awesome-agency__headline">We Are An Awesome Agency</h2>
    <div class="row awesome-agency__features">
      <div class="col-xs-12 col-sm-6 col-md-3 awesome-agency__feature">
        <div class="awesome-agency__feature-icon">
          {{> ../icon/icon icon='${require("./write.svg")}' }}
        </div>
        <div class="awesome-agency__feature-title">Feature one</div>
        <div class="awesome-agency__feature-description">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 awesome-agency__feature">
        <div class="awesome-agency__feature-icon">
          {{> ../icon/icon icon='${require("./write.svg")}' }}
        </div>
        <div class="awesome-agency__feature-title">Feature two</div>
        <div class="awesome-agency__feature-description">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 awesome-agency__feature">
        <div class="awesome-agency__feature-icon">
          {{> ../icon/icon icon='${require("./search.svg")}' }}
        </div>
        <div class="awesome-agency__feature-title">Feature three</div>
        <div class="awesome-agency__feature-description">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 awesome-agency__feature">
        <div class="awesome-agency__feature-icon">
          {{> ../icon/icon icon='${require("./message.svg")}' }}
        </div>
        <div class="awesome-agency__feature-title">Feature four</div>
        <div class="awesome-agency__feature-description">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.</div>
      </div>
    </div>
  </div>
</section>
