<div class="pages" id="pages">
  <div class="pages__item ">
    <div class="container pages__container page page-one">
      <div class="page__image-content" style="background-image:
        url(${require(`./page1.png`)})"></div>
      <div class="page__text-content">
        <div class="page__text-inner">
          <div class="page__service-info">
            <div class="page__date">Jan 4, 2016</div>
            <div class="page__service-delimiter">|</div>
            <div class="page__category">In Culture</div>
          </div>
          <div class="page__title">Akita Inu Dog</div>
          <div class="page__description">
            <p class="page__paragraph">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p class="page__paragraph">Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="pages__item">
      <div class="container pages__container  page page-two">
      <div class="page__image-content" style="background-image:
        url(${require(`./page2.png`)})">
      </div>
      <div class="page__text-content">
        <div class="page__text-inner">
          <div class="page__service-info">
            <div class="page__date">Jan 4, 2016</div>
            <div class="page__service-delimiter">|</div>
            <div class="page__category">In Culture</div>
          </div>
          <div class="page__title">Akita Inu Dog</div>
          <div class="page__description">
            <p class="page__paragraph">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p class="page__paragraph">Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
