.contact-us {
  padding-top: 150px;
  background-image: url(contact-us_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 851px;
  padding-bottom: 75px;

  &__headline {
    background-image: url(contact-us_headline_bg.png);
    color: #ffffff;
    margin-bottom: 77px;

    @media(max-width: 576px) {
      background: none;
    }
  }

  &__form {
    flex-direction: column;
    display: flex;
    justify-content: center;

    @media(max-width: 768px) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media(max-width: 375px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-errors {
      margin-top: -30px;
      margin-bottom: 30px;
    }
  }

  &__field {
    width: 100%;
    height: 48px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    padding: 15px 25px;
    margin-bottom: 39px;

    &_mistake {
      border: 1px solid lightblue;
    }

    &_active {
      border: 1px solid #00a2ff;
    }

    &-error {
      display: block;
      color: #00a2ff;
      margin-top: -35px;
      margin-left: 10px;
      margin-bottom: 25px;
    }
  }

  &__area {
      width: 100%;
      height: 151px;
      border: 1px solid #ffffff;
      background-color: transparent;
      color: #fff;
      font-size: 15px;
      padding: 15px 25px;
      margin-bottom: 46px;
    }


  &__submit {
    margin: 0 auto;
    background-color: #11749e;
    border: 2px solid #11749e;
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 17px 61px;
    transition: 0.3s;

    &:hover {
      color: #11749e;
      background-color: #fff;
      border: 2px solid #11749e;
    }
  }

  &__map {
    height: 332px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

#map {
  height: 100%;
}

