<section class="our-blog" id="blog">
  <div class="container">
    <h2 class="our-blog__headline">Let's blog</h2>
    <p class="our-blog__after-headline">We love clean design and advanced digital solutions.</p>
    <div class="row our-blog__posts">
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post">
        <img src="our-blog_post1.png" class="our-blog__post-img">
        <div class="our-blog__post-title">Fresh Summer Campaign</div>
        <div class="our-blog__post-description">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue</div>
      </a>
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post">
        <img src="our-blog_post2.png" class="our-blog__post-img">
        <div class="our-blog__post-title">Fresh Summer Campaign</div>
        <div class="our-blog__post-description">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue</div>
      </a>
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post">
        <img src="our-blog_post3.png" class="our-blog__post-img">
        <div class="our-blog__post-title">Fresh Summer Campaign</div>
        <div class="our-blog__post-description">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue</div>
      </a>
      <a href="#" class="col-xs-12 col-sm-6 col-md-3 our-blog__post">
        <img src="our-blog_post1.png" class="our-blog__post-img">
        <div class="our-blog__post-title">Fresh Summer Campaign</div>
        <div class="our-blog__post-description">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue</div>
      </a>
    </div>
  </div>
</section>
