<div class="features" id="features">
  <div class="features-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 features-top__info">
          <div class="features-top__icon">
            {{> ../icon/icon icon='${require("./write.svg")}' }}
          </div>
          <div class="features-top__info">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor..</div>
        </div>
        <div class="col-md-6 features-top__info">
          <div class="features-top__icon">
            {{> ../icon/icon icon='${require("./write.svg")}' }}
          </div>
          <div class="features-top__info">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor..</div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-bottom">
    <div class="container">
      <div class="row features-bottom__container">
        <div class="col-sm-12 col-md-6 features-bottom__text">
          <div class="features-bottom__text-title">Akita Inu Dog</div>
          <div class="features-bottom__text-description">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</div>
          <ul class="features-bottom__items">
            <li class="features-bottom__item">
              <span class="features-bottom__item-wrap item-one">Fully Responsive Design</span>
            </li>
            <li class="features-bottom__item">
              <span class="features-bottom__item-wrap item-two">High Quality Code</span>
            </li>
            <li class="features-bottom__item">
              <span class="features-bottom__item-wrap item-three">Different Headers & Layout</span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 features-bottom__image">
          <img src="cellphone.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
