<div class="social-media">
    <a href="#" class="social-media__item social-media__item_facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="social-media__item social-media__item_twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-media__item social-media__item_skype">
      <i class="fab fa-skype"></i>
    </a>
  <a href="#" class="social-media__item social-media__item_linkedin">
    <i class="fab fa-linkedin-in"></i>
    </a>
</div>
