<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invite transportation service</title>
  </head>
  <body>
      {{> components/main-banner/main-banner }}
      {{> components/awesome-agency/awesome-agency }}
      {{> components/pages/pages }}
      {{> components/our-blog/our-blog }}
      {{> components/features/features }}
      {{> components/our-team/our-team }}
      {{> components/contact-us/contact-us }}
      {{> components/main-footer/main-footer }}
      {{> components/scroll-up/scroll-up }}
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOijcuH7Hh6qXzOxpXGiVs_O6u-d5oAfE&callback=initMap" async defer></script>
  </body>
</html>
