<footer class="main-footer">
  <div class="container main-footer__container">
    <div class="row">
      <div class="col-md-6 main-footer__copy">© 2016 PSDfreebies.com – All Right Reserved</div>
      <div class="col-md-6 main-footer__company">
        <img src="company.png" alt="">
      </div>
    </div>
  </div>
</footer>
