<nav class="nav">
    <ul class="nav__list">
        <a href="#home" class="nav__link">Home</a>
        <a href="#pages" class="nav__link">Pages</a>
        <a href="#blog" class="nav__link">Our blog</a>
        <a href="#features" class="nav__link">Features</a>
        <a href="#our-team" class="nav__link">Our team</a>
        <a href="#contact-us" class="nav__link">Contact us</a>
    </ul>
</nav>

