<div class="main-header" >
  <div class="main-header__container">
    <div class="main-header__logo">
      <a href="/">
        <img src="logo.png" alt="">
      </a>
    </div>
    <div class="main-header__nav">
      {{> ../nav/nav }}
    </div>
    <div class="main-header__social-media">
      {{> ../social-media/social-media }}
    </div>
  </div>
</div>
