<div class="main-header" id="home">
  <div class="container main-header__container">
    <div class="main-header__logo">
      <a href="#home">
        <img src="logo.png" alt="" class="main-header__logo-img">
      </a>
    </div>
    <div class="main-header__nav">
      {{> ../nav/nav }}
    </div>
    <div class="main-header__social-media">
      {{> ../social-media/social-media }}
    </div>
    <div class="main-header__menu-toggle">
      {{> ../menu-toggle/menu-toggle }}
    </div>
  </div>
</div>
