.main-header {
  border-bottom: 1px solid #626262;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 150px;
  }

  &__nav {
    margin-top: 8px;
  }

  &__social-media {
    margin-top: 8px;
    margin-right: -46px;
    margin-left: -46px;
  }


}
